<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112069650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112069650-1');
  
</script>
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="container wrapper">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
            <div class="post-content">
                {{ .Content }}
            </div>
            {{ if (isset .Params "nocomments")  }}
            {{ else }}
            <div class="post-comments">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}
            <div class="push"></div>
        </div>
        {{ partial "footer.html" . }}
    </body>
